<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <!--<connectionStrings>
    <add name="PrescriptionManager.Properties.Settings.ContosoMedicalDBConnectionString" 
         connectionString="Server=tcp:mjk78restlabs2018prescriptionmanagersqlserver.database.windows.net,1433;Initial Catalog=ContosoMedicalDB;Persist Security Info=False;User ID=PrescriptionManagerService;Password=Strong_password1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  </connectionStrings>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>
  <appSettings>
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="ida:Tenant" value="MJK78RESTLABS2018.onmicrosoft.com" />
    <add key="ida:ClientId" value="9d8c9058-5aef-4147-97f0-6112990da9c6" />
    <add key="ida:RedirectUri" value="http://PrescriptionManager" />
    <add key="ida:GraphResourceId" value="https://graph.windows.net/" />
    <add key="ida:GraphApiVersion" value="1.5" />
    <add key="ida:GraphEndpoint" value="https://graph.windows.net/" />
    <!--<add key="ServicesBaseUri" value="https://localhost:44358/api/" />-->
    <add key="ServicesBaseUri" value="https://prescriptionmanagerservices20180726100104.azurewebsites.net/api/" />
      <add key="ServicesClientId" value="9e5d0d0a-c9da-42c6-b209-cedda40cfa47" />
  </appSettings>
</configuration>
